[submodule "package/pi_web_ui/files/pi-router-os-web-ui"]
	path = package/pi_web_ui/files/pi-router-os-web-ui
	url = https://github.com/sss22213/pi-router-os-web-ui
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt
	branch = openwrt-22.03
